body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

img {
  border-style: none;
  width: 100%;
}

/* swiper slider start */

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.top__item-1, .top__item-2, .top__item-3 {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.top__item-1 {
  background-image: url(../img/slide-1.jpg);
}

.top__item-2 {
  background-image: url(../img/slide-2.jpg);
}

.top__item-3 {
  background-image: url(../img/slide-3.jpg);
}

/* swiper slider end */

/* ISOTOP start */

/* .grid { */
  /* display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px; */
  /* display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 50px 50px; */
  /* grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px; */
/* } */

.grid {
  background-color: rgba(88, 210, 49, 0.49);
}

.grid-item {
  width: 25%;
  min-height: 300px;
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.design-1 {
  background-image: url(../img/web-design/img_web-design-1.jpg);
}
.design-2 {
  background-image: url(../img/web-design/img_web-design-2.jpg);
}
.design-3 {
  background-image: url(../img/web-design/img_web-design-3.jpg);
}
.design-4 {
  background-image: url(../img/web-design/img_web-design-4.jpg);
}
.design-5 {
  background-image: url(../img/web-design/img_web-design-5.jpg);
}

/* mobile img */

.mobile-1 {
  background-image: url(../img/mobile/img_mobile-1.jpg);
}
.mobile-2 {
  background-image: url(../img/mobile/img_mobile-2.jpg);
}
.mobile-3 {
  background-image: url(../img/mobile/img_mobile-3.jpg);
}
.mobile-4 {
  background-image: url(../img/mobile/img_mobile-4.jpg);
}
.mobile-5 {
  background-image: url(../img/mobile/img_mobile-5.jpg);
}

/* illustration */

.illustr-1 {
  background-image: url(../img/illustration/img_illustration-1.jpg);
}
.illustr-2 {
  background-image: url(../img/illustration/img_illustration-2.jpg);
}
.illustr-3 {
  background-image: url(../img/illustration/img_illustration-3.jpg);
}
.illustr-4 {
  background-image: url(../img/illustration/img_illustration-4.jpg);
}

/* photo */
.photo-1 {
  background-image: url(../img/photography/img_portfolio-1.jpg);
}
.photo-2 {
  background-image: url(../img/photography/img_portfolio-2.jpg);
}
.photo-3 {
  background-image: url(../img/photography/img_portfolio-3.jpg);
}
.photo-4 {
  background-image: url(../img/photography/img_portfolio-4.jpg);
}


/* img for Web Design 
.grid-item__web-design {

}*/

/* 
.grid-item img {
  display: block;
  width: 100%;
  height: auto;
} */

/* .our_tours__wrap {
  padding-top: 30px;
} */

.our_tours__card .our_tours__img_wrap {
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

/* .our_tours__card .our_tours__img_wrap img {
  max-height: 100%;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
} */

/* .our_tours__card .our_tours__img_wrap .our_tours__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(112, 128, 144, .3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
} */

/* .our_tours__card .our_tours__img_wrap .our_tours__bg .our_tours_name {
  font-weight: 900;
  font-style: normal;
  font-size: 22px;
} */

/* .our_tours__card .our_tours__img_wrap .our_tours__bg .our_tours_details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  opacity: 0;
  color: #fff;
  font-weight: 300;
  font-style: italic;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
} */

/* .our_tours__card:hover .our_tours__bg {
  background-color: rgba(112, 128, 144, .7);
  transform: scale(1.05);
} */

/* .our_tours__card:hover .our_tours__bg .our_tours_details {
  opacity: 1;
}
.our_tours__card:hover img {
  transform: scale(1.05);
} */

.btn {
  background-color: rgba(10, 132, 255, 0.5);
  color: #fff;
}

.btn:hover {
  background-color: rgba(88, 210, 49, 0.49);
}

/* .btn:focus {
  background-color: rgba(0, 206, 209, .5);
  border: 1px solid rgba(0, 206, 209, .6);
  box-shadow: 2px 2px 2px 2px rgba(112, 128, 144, .2);
  color: #708090;
} */

/* .btn_see_more {
  margin: 0 auto;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
} */

@media only screen and (max-width: 768px) {
  .btn {
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

/* ISOTOP end */