body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* swiper slider start */

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.top__item-1, .top__item-2, .top__item-3 {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.top__item-1 {
  background-image: url(../img/slide-1.jpg);
}

.top__item-2 {
  background-image: url(../img/slide-2.jpg);
}

.top__item-3 {
  background-image: url(../img/slide-3.jpg);
}

/* swiper slider end */

/* ISOTOP start */

.grid-item {
  height: 250px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.design-1 {
  background-image: url(../img/web-design/img_web-design-1.jpg);
}

.design-2 {
  background-image: url(../img/web-design/img_web-design-2.jpg);
}

.design-3 {
  background-image: url(../img/web-design/img_web-design-3.jpg);
}

.design-4 {
  background-image: url(../img/web-design/img_web-design-4.jpg);
}

.design-5 {
  background-image: url(../img/web-design/img_web-design-5.jpg);
}

/* mobile img */

.mobile-1 {
  background-image: url(../img/mobile/img_mobile-1.jpg);
}

.mobile-2 {
  background-image: url(../img/mobile/img_mobile-2.jpg);
}

.mobile-3 {
  background-image: url(../img/mobile/img_mobile-3.jpg);
}

.mobile-4 {
  background-image: url(../img/mobile/img_mobile-4.jpg);
}

.mobile-5 {
  background-image: url(../img/mobile/img_mobile-5.jpg);
}

/* illustration */

.illustr-1 {
  background-image: url(../img/illustration/img_illustration-1.jpg);
}

.illustr-2 {
  background-image: url(../img/illustration/img_illustration-2.jpg);
}

.illustr-3 {
  background-image: url(../img/illustration/img_illustration-3.jpg);
}

.illustr-4 {
  background-image: url(../img/illustration/img_illustration-4.jpg);
}

/* photo */

.photo-1 {
  background-image: url(../img/photography/img_portfolio-1.jpg);
}

.photo-2 {
  background-image: url(../img/photography/img_portfolio-2.jpg);
}

.photo-3 {
  background-image: url(../img/photography/img_portfolio-3.jpg);
}

.photo-4 {
  background-image: url(../img/photography/img_portfolio-4.jpg);
}

/* ISOTOP end */


.btn {
  background-color: #8c8c8c;
  border-radius: 5px;
  padding: 5px 18px;
  cursor: pointer;
  color: #fff;
}

.btn:hover {
  color: #ffffff;
  background-color: #a8534a;
  padding: 5px 18px;
  transition: .8s;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .btn {
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}


